.how-does span {
    border: 1px solid black;
    border-radius: .5rem;
    background-color: whitesmoke;
    padding: .5rem;
    /* margin-left: -0.9375rem; */
    position: absolute;
    top: -1rem;
    left: -1rem;

}
.how-does > div {
    border: 1px solid black;
    border-radius: .5rem;;
    width: 19.625rem;
    margin: 5rem auto;
    /* height: 9.687rem; */
    text-align: left;
    position: relative;
}
.how-does h3 {
    margin: 0.25rem 1.25rem 1.5rem 1.25rem;
}
.how-does p {
    margin:0rem 0rem 1.5rem 1.25rem;
}